/* config font & vars */
@import url(./style/card.css);
@import url(./style/modal.css);
@import url(./style/header.css);
@import url(./style/content.css);

@font-face {
	font-family: "Open_sans";
	src: url(/fonts/OpenSans.ttf);
}

:root {
	--main_bg_color: #efeef4;
	--container_bg_color: #ffffff;
	--police_description_color: #7f82a1;
	--police_normal_color: #333333;
	--police_heading_color: #14151d;
	--important: #c94241;
	--valid: #6733d4;
	--border_button_color: #efeef4;
	--police_task_color: #c9ccd5;
	--police_sub_task_color: #c4c4d1;
}

body {
	font-family: "Open_sans";
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main_bg_color);
}

/* Headiing style */
h2 {
	margin: 0;
	font-weight: 600;
	font-size: 24px;
	line-height: 20px;
	font-family: "Open_sans";
	color: var(--police_heading_color);
}

h3 {
	margin: 0;
	font-size: 20px;
	font-family: "Open_sans";
	color: var(--police_normal_color);
}

.description {
	font-size: 12px;
	font-family: "Open_sans";
	color: var(--police_description_color);
}

/* MAIN CONTAINER */

#container {
	position: relative;
	height: 80%;
	width: 40%;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	background-color: var(--container_bg_color);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.none {
	display: none;
}
