.card {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px;
	border-bottom: 1px solid var(--border_button_color);
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 16px;
}

.card:hover .fa-pen-to-square {
	color: var(--valid);
	transition: 0.5s;
}
.card:hover .fa-arrow-right-arrow-left {
	color: var(--valid);
	transition: 0.5s;
}
.card:hover .fa-trash-can {
	color: var(--important);
	transition: 0.5s;
}

.content {
	margin-top: -4px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.content .title {
	font-size: 18px;
}

.content .description {
	font-size: 12px;
}

.content .meta {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	gap: 8px;
	color: var(--important);
}

.content .meta svg {
	font-size: 12px;
}

.content .meta div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
}

.content .meta span {
	font-size: 14px;
}

.crud {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 30px;
	color: transparent;
	font-size: 16px;
	cursor: pointer;
	gap: 8px;
}
